# Python Lists, Tuples, Dictionaries, sets

# List
1. items are stored sequentially
2. Lists are mutable
3. can hold on to different data types
4. use square brackets [] to create a list

# Tuple
1. ordered list of values
2. immutable
3. in many ways, it is simillar to a list; one of the most important difference is that tuples can be used as KEYs in a dictionary or elements of a SET.
4. use () to create a tuple

For a Python program, lists and tuples are very similar. It is possible to get by as a programmer using only lists and ignoring tuples. Both lists and tuples hold an ordered collection of items.

The primary difference that you will see syntactically is that a list is enclosed by square braces [] and a tuple is enclosed by parenthesis ().

In [ ]:
l = ['a', 'b' , 1, 2]
t = (3.3,4.7, 'c' , 'd')

print(l)
print(t)

In [2]:
print(l[2], t[1], t[-3])

1 4.7 4.7

In [7]:
for i in t:
    print(i)

3.3
4.7
c
d

for index, element in enumerate(num_list):
    print(index, element)

In [9]:
for i,v in enumerate(l):
    print(f"{i}:{v}")

0:a
1:b
2:1
3:2

In [14]:
c= []
c.append('a')
c.append('b')
c.append('c')
c.append('c')
print(c)

['a', 'b', 'c', 'c']

In [20]:
c = ['a','b','c','b']
print(c)

['a', 'b', 'c', 'b']

In [21]:
#Insert
c.insert(0,'0a')
print(c)

['0a', 'a', 'b', 'c', 'b']

In [22]:
#remove
c.remove('b')
print(c)

['0a', 'a', 'c', 'b']

In [23]:
#remove at index
del c[0]
print(c)

['a', 'c', 'b']

In [24]:
Listoflists= [
    ['a','b','c'],
    [1,2,3,4,5,6],
    ['one','2']
]
print(Listoflists)

[['a', 'b', 'c'], [1, 2, 3, 4, 5, 6], ['one', '2']]

In [27]:
print(Listoflists[1][0])
print(Listoflists[2][1])
print(Listoflists[0][1])
print(Listoflists[2][0])
print(Listoflists[1][2])
print(Listoflists[1][1])
print(Listoflists[0][0])

1
2
b
2
one
3
2
a

# Sets

1. A Python set holds an unordered collection of objects
2. but sets do not allow duplicates. 
If a program adds a duplicate item to a set, only one copy of each item remains in the collection.
Adding a duplicate item to a set does not result in an error. Any of the following techniques will define a set.

1. A list is always enclosed in square braces [],
2. a tuple in parenthesis (),
3. encloses a set in curly braces. 
Programs can add items to a set as they run. 
Programs can dynamically add items to a set with the add function. 
*****It is important to note that the append function adds items to lists and tuples,
*********whereas the add function adds items to a set.

In [28]:
depts = {"MBA","EEE", "CSE", "BBA", "Architecture"}
print(depts,type(depts))

{'MBA', 'CSE', 'BBA', 'EEE', 'Architecture'} <class 'set'>

In [30]:
depts.add("CS")
print(depts)

{'MBA', 'CS', 'CSE', 'BBA', 'EEE', 'Architecture'}

In [31]:
depts.add("Arch")
print(depts)

{'MBA', 'CS', 'CSE', 'BBA', 'EEE', 'Arch', 'Architecture'}

In [35]:
depts.add("BA")
print(depts)

{'MBA', 'CS', 'CSE', 'BBA', 'EEE', 'Arch', 'BA', 'Architecture'}

In [36]:
depts.remove("BA")
print(depts)

{'MBA', 'CS', 'CSE', 'BBA', 'EEE', 'Arch', 'Architecture'}

In [37]:
"CS" in depts

True

In [38]:
"BA" in depts

False

### Maps/Dictionaries/Hash Tables

Python provides a dictionary, that is essentially a collection of name-value pairs. Programs define dictionaries using curly-braces, as seen here.

In [2]:
abc = {'a':22.21, 'b':32, 'c':88.70}
print(abc,type(abc))

{'a': 22.21, 'b': 32, 'c': 88.7} <class 'dict'>

In [3]:
print(abc['a'])

22.21

dictionary.get(keyname, value) // value is optional

In [6]:
abc.get('a', 'default')

22.21

In [8]:
print(f"values: {abc.values()}")

values: dict_values([22.21, 32, 88.7])

In [15]:
d = {'person':2, 'cat': 4, 'dog':4, 'kitten':4}
for c in d:
    print(c)
    
    d = {'person':2, 'cat': 4, 'dog':4, 'kitten':4}
for c in d:
    print(d)

person
cat
dog
kitten
{'person': 2, 'cat': 4, 'dog': 4, 'kitten': 4}
{'person': 2, 'cat': 4, 'dog': 4, 'kitten': 4}
{'person': 2, 'cat': 4, 'dog': 4, 'kitten': 4}
{'person': 2, 'cat': 4, 'dog': 4, 'kitten': 4}

In [16]:
for c in d:
    legs = d[c]
    print('A %s has %d legs' % (c,legs))
    
for c in d:
    legs = d[c]
    print('A %s has %d legs' % (d,legs))

A person has 2 legs
A cat has 4 legs
A dog has 4 legs
A kitten has 4 legs
A {'person': 2, 'cat': 4, 'dog': 4, 'kitten': 4} has 2 legs
A {'person': 2, 'cat': 4, 'dog': 4, 'kitten': 4} has 4 legs
A {'person': 2, 'cat': 4, 'dog': 4, 'kitten': 4} has 4 legs
A {'person': 2, 'cat': 4, 'dog': 4, 'kitten': 4} has 4 legs

#### Advanced Operations

In [19]:
a = [1,2,3,4,5,6,]
print(a[0:3])
print(a[:2])
print(a[3:])
print(a[:-1])
print(a[2:-2])

[1, 2, 3]
[1, 2]
[4, 5, 6]
[1, 2, 3, 4, 5]
[3, 4]

In [32]:
a = [1,2,3,4,5]
b=[5,4,3,2,1]
#joining tuples-ZIP
z= zip(a,b)
#print(z) 
#print(list(z))
#tupl not working at the same timea frer list
print(tuple(z))

((1, 5), (2, 4), (3, 3), (4, 2), (5, 1))

In [33]:
for x,y in zip(a,b):
    print(f'{x} - {y} ==> {x-y}')

1 - 5 ==> -4
2 - 4 ==> -2
3 - 3 ==> 0
4 - 2 ==> 2
5 - 1 ==> 4

In [34]:
a = [1,2,3,4,5]
b = [5,4,3]

print(list(zip(a,b)))

[(1, 5), (2, 4), (3, 3)]

In [36]:
arr1 = [0,1,2,3,4,5,6,7,8,9]
arr2 = []
# avoid doing tis!!
for a in arr1:
    arr2.append(a**2)
print(arr2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List Comprehension

In [37]:
arr1 = [0,1,2,3,4,5,6,7,8,9]
arr1_copy = [i for i in arr1]
print(arr1_copy)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
sq = [a**2 for a in arr1]
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
#if x is divisible by 2 , multiply that num 
#x**2 is x-sq if it`s divisble
sq_even = [x for x in arr1 if x%2 == 0]
print(sq_even)
sq_even = [x**2 for x in arr1 if x%2 == 0]
print(sq_even)

[0, 2, 4, 6, 8]
[0, 4, 16, 36, 64]

In [47]:
d = {(a,a): (a,a**2) for a in range(10)}
print(d)

{(0, 0): (0, 0), (1, 1): (1, 1), (2, 2): (2, 4), (3, 3): (3, 9), (4, 4): (4, 16), (5, 5): (5, 25), (6, 6): (6, 36), (7, 7): (7, 49), (8, 8): (8, 64), (9, 9): (9, 81)}

In [48]:
print(d[5,5])

(5, 25)